html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
    font-family: "Manrope", sans-serif;
}
.bar {
    display: flex;
    /* width: 500px; */
    font-family: "Manrope", sans-serif;
    justify-content: space-evenly;
    

}
.hide {
    display: none;
}

.map {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    gap: 1px;
    
    
}

.unclicked{
    background-color: grey;
    color: grey;
}
.mine {
    border-color: red;
}
.play{
    justify-self: center;
    background-color: white;
    height: 50px;
    width: 100px;
}
.retry{
    justify-self: center;
    background-color: white;
    height: 50px;
    width: 100px;
}
.level1 button{
    color: blue;
    

}
.level2 button{
    color: purple;

}
.level3 button{
    color: green;
}
.level4 button{
    color: darkorange;
}
.mine button{
    color: red;
}