html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
    font-family: "Manrope", sans-serif;
}
h2 {
    font-family: "Manrope", sans-serif;
}
.bar {
    display: flex;
    font-family: "Manrope", sans-serif;
    justify-content: space-evenly;
    

}
.hide {
    display: none;
}

.map {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    gap: 1px;
}

.unclicked{
    background-color: grey;
    color: grey;
}
.flag {
    border-color: aquamarine;
}

.playcontainer{
    display: flex;
    justify-content: center;
}
.instructionsimage{
    display: flex;
    justify-content: center;

}
.retrycontainer{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    
}
.play{
    background-color: rgb(212, 206, 206);
    font-family: "Manrope", sans-serif;
    align-content: center;
    font-size: medium;
    font-weight: bold;
    height: 50px;
    width: 100px;

}
.retry{
    background-color: rgb(212, 206, 206);
    font-family: "Manrope", sans-serif;
    align-content: center;
    font-size: medium;
    font-weight: bold;
    height: 50px;
    width: 100px;

}

.mine {
    color: red;
    font-size: larger;
}

.level1{
    color: blue;
    font-size: larger;
}
.level2{
    color: green;
    font-size: larger;
}
.level3{
    color: purple;
    font-size: larger;
}
.level4{
    color: rgb(218, 147, 15);
    font-size: larger;
}
.level5{
    color: rgb(207, 121, 135);
    font-size: larger;
}
.level6{
    color: rgb(159, 99, 244);
    font-size: larger;
}
.level7{
    color: rgb(157, 157, 22);
    font-size: larger;
}
.level8{
    color: rgb(59, 168, 171);
    font-size: larger;
}