html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
    font-family: "Manrope", sans-serif;
}
h2 {
    font-family: "Manrope", sans-serif;
}
.bar {
    display: flex;
    font-family: "Manrope", sans-serif;
    justify-content: space-evenly;
    

}
.hide {
    display: none;
}

.map {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    gap: 1px;
}

.unclicked{
    background-color: grey;
    color: grey;
}
.flag {
    border-color: aquamarine;
}

.playcontainer{
    display: flex;
    justify-content: center;
}
.instructionsimage{
    display: flex;
    justify-content: center;

}
.retrycontainer{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    
}
.play{
    background-color: white;
    font-family: "Manrope", sans-serif;
    align-content: center;
    height: 50px;
    width: 100px;

}
.retry{
    background-color: white;
    font-family: "Manrope", sans-serif;
    text-align: center;
    height: 50px;
    width: 100px;

}